* {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/box-shadow */
#login {
    color: #35DED6;
    display: flex;
    padding: 2%;
    width: 70vw;
    height: 81vh;
    margin: 5vh auto;
    border-radius: 40px;
    box-shadow: 0px 0px 30px 10px #DCF8F9;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

#login2 {
    display: none;
}


#account {
    display: none;
}

#accountActive {
    display: flex;
    width: 100vw;

    justify-content: space-between;
    
}

#accountActive nav img, #accountActive nav svg {
    width: 7vw;
}

#accountActive nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: sandybrown;
    width: 100%;
    padding: 2%;
}

#wrongInput  {
    color: red;
}

#accountActive nav svg {
    height: 7vh;
}

/* https://pretagteam.com/question/changing-svg-image-color-with-javascript */
#accountActive nav svg path{
    stroke: #FF0000;
}

a {
    margin: auto 0;
}

